@import 'breakpoints.scss';

$container-width: 324px;
$square-size: 100px;
$square-margin: 8px;
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  width: $square-size;
  height: $square-size;
  margin: $square-margin;
  background-color: #ff7f50;

  @include media-query($medium-screen) {
    background-color: #8a2be2;
  }

  @include media-query($large-screen) {
    background-color: #a61;
  }

  @include media-query($extra-large-screen) {
    background-color: #c47;
  }

  @media only screen and (orientation: landscape) {
    .container {
      flex-direction: row;
    }
  }

  @media only screen and (orientation: portrait) {
    .container {
      flex-direction: column;
    }
  }
}
