* {
  box-sizing: border-box;
}
form {
  margin: 32px;
}

input,
select,
textarea {
  display: block;
  margin-bottom: 8px;
  margin-left: 25px;
}

label {
  display: block;
  margin-bottom: 4px;
  margin-left: 4px;
}
.languages {
  display: flex;
  flex-direction: row;
}
[type='radio'] {
  margin-left: 15px;
}

.submit-button {
  margin-top: 16px;
}
