* {
  box-sizing: border-box;
}
div {
  border: 2px solid black;
}

.first {
  background-color: blue;
  margin: 50px;
  padding: 50px;
}
.second {
  background-color: yellow;
  padding: 20px;
}
.third {
  background-color: green;
  margin: 30px;
  padding: 50px;
}
.fourth {
  background-color: pink;
  padding: 51px;
}
