@import 'variables.scss';

.menu {
  list-style: none;
  padding-left: 3em;
  display: flex;
  align-items: center;
  line-height: 3em;

  background-color: $menu-background-color;
  z-index: $menu-z-index;
  min-width: $menu-min-width;

  &__item {
    padding: $menu-item-padding;
    cursor: pointer;
    position: relative;
    line-height: 3em;
    padding: 0 8px;
    color: $menu-item-text-color;

    &-text {
      text-transform: uppercase;
    }

    &:hover {
      background-color: $menu-item-hover-background-color;

      &-text {
        color: #000;
      }

      .submenu {
        display: block;
      }
    }

    &.menu__item_active {
      color: yellow;
    }

    .submenu {
      position: absolute;
      top: 100%;

      list-style: none;
      background-color: $submenu-background-color;
      box-shadow: $submenu-box-shadow;
      padding: 0 8px;
      margin: 0;
      display: none;
      text-transform: uppercase;
      min-width: 120px;
      z-index: 1;
      color: $menu-item-text-color;

      &__item {
        padding: 0;
        margin: 0;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
