@import 'variables.scss';

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 3em;
  background-color: $menu-background-color;
  z-index: $menu-z-index;
  min-width: $menu-min-width;

  &__item {
    padding: $menu-item-padding;
    cursor: pointer;
    position: relative;
    line-height: 3em;

    &-text {
      text-transform: uppercase;
      margin-left: 1em;
      color: $menu-item-text-color;
    }

    &:hover {
      background-color: $menu-item-hover-background-color;

      &-text {
        color: #000;
      }

      .submenu {
        display: block;
      }
    }

    &.menu__item_active {
      &-text {
        color: $menu-item-active-text-color;
      }
    }

    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 0;
      margin-left: 3em;
      list-style: none;
      background-color: $submenu-background-color;
      box-shadow: $submenu-box-shadow;
      padding: 0;
      text-align: left;
      z-index: 1;
      color: #fff;

      &__item {
        padding: 0;
        margin: 0;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
