html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  height: 74px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
}
div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: capitalize;
  text-align: center;
  line-height: 200px;
}
