html,
body {
  font-family: 'Roboto', sans-serif;
}
section {
  margin: 32px;
  font-size: 18px;
}
h1 {
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 15px;
  text-align: center;
}
p {
  line-height: 28px;
}
.technology {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 3px;
  opacity: 0.8;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.translation {
  color: grey;
}
