* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
.article {
  flex-basis: 300px;

  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-shrink: 1;
  flex-grow: 1;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
